<html>
<head>
	<title>Ecom Label</title>
	
<style>
	table{
		width : 100%;
	}
	td{
		border-bottom-color: black;
		border-bottom-width: 0px;
		border-top-width: 0px;
		border-left-width: 0px;
		border-right-width: 0px;
		height : 100%;
	}
	#barcode{
			    width: 70%;
				height : 50%;
	}
	#awb_number{
		     width: 50%;
			height: 20%;
	}

	.shipment_details td{
		width : 50%;
	}
 div{
		height: 2px;
		margin-left: 4%;
	}
	
	.sub_head {
		font-weight : bold ;
	}
	td{
		font-size:12px;
		font-size:12px;
	}
	.temp{
		height : 20px;
	}
</style>
</head>
<body>
<table border="3"  cellpadding="0" cellspacing="0">
	<tr>
		<td >
			<table border="0"  class="header" cellpadding="0" cellspacing="0" >
	<tr >
		<td class="column" style="border-bottom-color:#000;border-bottom-width:1px;font-size:32px" >
			<div style="width:100%;text-align:center;">C/ecomexpress</div>
		</td>
	</tr>
</table>
		</td>
	</tr>
	<tr>
		<td style="border-bottom-color:#000;border-bottom-width:1px;">
			
<table border="0"  cellpadding="0" cellspacing="0">
	<tr class="header_section">
		<td class="column" style="border-right-color:#000;border-right-width:1px;text-align:center">
			<p class="temp section_1">
				<img id="barcode" src="data:image/jpg;base64,$model.barcode" /> <br />
				<span id="awb_number">$model.shipmentDetails.logisticPartnerRefTrackingNumber</span>
			</p>
		</td>
		<td class="column" style="border-right-color:#000;border-right-width:1px;">
			<div class="section_2">
				<div class="temp"><span class="sub_head"> Reference : </span><span class="sub_head_val" id="reference_no">$model.shipmentDetails.serviceRequestDetails.refPrimaryTrackingNo</span></div>
				<div class="temp"><span class="sub_head"> CLIENT INVOICE : </span><span class="sub_head_val" id="invoice"></span></div>
				<div class="temp"><span class="sub_head"> Product : </span><span class="sub_head_val" id="product"></span>Mobile</div>
			</div>
		</td>
		<td >
			<div class="section_3">
				<div class="temp"><span class="sub_head"> Payment : </span><span class="sub_head_val" id="payment">Prepaid</span></div>
			</div>
		</td>
	</tr>
</table>
		</td>
	</tr>
	<tr>
		<td style="border-bottom-color:#000;border-bottom-width:1px;">
			<table border="0"  cellpadding="0" cellspacing="0">
	<tr class="shipment_details">
		<td style="border-right-color:#000;border-right-width:1px;width:50%" class="ship_from">
			<div class="sub_head" style="font-weight ">Ship From </div>
			<div class="temp"><span > Name : </span><span id="src_name">$model.shipmentDetails.originAddressDetails.addresseeFullName</span></div>
			<div class="temp"><span > Address : </span><span id="src_address1">$model.shipmentDetails.originAddressDetails.addressLine1</span></div>
			<!--<div class="temp"><span > State : </span><span id="src_state">$model.src_state</span></div>-->
			<div class="temp"><span > PIN : </span><span id="src_pin">$model.shipmentDetails.originAddressDetails.pincode</span></div>
			<div class="temp"><span > Mobile Number : </span><span id="src_phone">$model.shipmentDetails.originAddressDetails.mobileNo</span></div>
			#if( $model.shipmentDetails.shipmentType == '2' or $model.shipmentDetails.shipmentType == '4')
				<div class="temp"><span > Email : </span><span id="src_email">$model.shipmentDetails.originAddressDetails.email</span></div> 
			#end
		</td >
		<td style="width:50%" class="ship_to">
			<div class="sub_head">Ship To </div>
			<div class="temp"><span > Name : </span><span class="dst_name">$model.shipmentDetails.destinationAddressDetails.addresseeFullName</span></div>
			<div class="temp"><span > Address : </span><span class="dst_address1">$model.shipmentDetails.destinationAddressDetails.addressLine1</span></div>
			<!--<div class="temp"><span > State : </span><span class="dst_state">$model.dst_state</span></div>-->
			<div class="temp"><span > PIN : </span><span class="dst_pin">$model.shipmentDetails.destinationAddressDetails.pincode</span></div>
			<div class="temp"><span > Mobile Number : </span><span class="dst_phone">$model.shipmentDetails.destinationAddressDetails.mobileNo</span></div>
			#if( $model.shipmentDetails.shipmentType == '1' or $model.shipmentDetails.shipmentType == '3' )
				<div class="temp"><span > Email : </span><span class="dst_email">$model.shipmentDetails.destinationAddressDetails.email</span></div>
			#end
		</td>
	</tr>
</table>
		</td>
	</tr>
	<tr>
		<td style="border-bottom-color:#000;border-bottom-width:1px;" >
			<table border="0" >
	<tr>
		<td style="width:100%">
			<div class="row sub_head" style="font-weight : bold;">Self Declaration Form : To whomever it may conern </div>
	<br />
	<div class="temp"><span > Name : </span><span class="dst_name">$model.shipmentDetails.destinationAddressDetails.addresseeFullName</span>,
			<span class="dst_address1">$model.shipmentDetails.destinationAddressDetails.addressLine1</span></div>
			<div class="temp"><span > PIN : </span><span class="dst_pin">$model.shipmentDetails.destinationAddressDetails.pincode</span>
			<span > &nbsp;Mobile Number : </span><span class="dst_phone">$model.shipmentDetails.destinationAddressDetails.mobileNo</span>
			<span > &nbsp;Email : </span><span class="dst_email">$model.shipmentDetails.destinationAddressDetails.email</span></div>
			<br />
	<div class="temp">I hear by declare that the above mentioned information is true and correct and value declared(value) is for transportation purpose and has no commercial value. Signature: </div>
		</td>
	</tr>
</table>
		</td>
		
	</tr>
</table>




</body>
</html>
